@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 375px;
}

.tech-icon-name {
    font-size: 1rem;
}

.tech-icon {
    font-size: 3.75rem/* 60px */;
    line-height: 1;
}

.tech-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    padding: 3rem;
    align-items: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
}









/*  React, ExpressJs, NodeJs, MongoDB, Tailwind, Bootstrap, Jest
Java, GIT, NPM, yarn, Visual Studio */